<!--<h1>Welcome, {{profile.FirstName}}</h1>-->

<h2>Prescriptions</h2>
<table id="prescription-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="orderByField='PrescriptionId'; reverseSort = !reverseSort">
                    Prescription Id <span ng-show="orderByField == 'PrescriptionId'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='MedicationId'; reverseSort = !reverseSort">
                    Medication Id <span ng-show="orderByField == 'MedicationId'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='Frequency'; reverseSort = !reverseSort">
                    Frequency <span ng-show="orderByField == 'Frequency'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='Dosage'; reverseSort = !reverseSort">
                    Dosage <span ng-show="orderByField == 'Dosage'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='Notes'; reverseSort = !reverseSort">
                    Notes <span ng-show="orderByField == 'Notes'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th style="width:69px;">Edit</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions">
            <td>{{prescription.PrescriptionId}}</td>
            <td>{{prescription.MedicationId}}</td>
            <td>{{prescription.Frequency}}</td>
            <td>{{prescription.Dosage}}</td>
            <td>{{prescription.Notes}}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="removePrescription(prescription)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <h2>Care Team</h2>
    <table id="prescription-list" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="orderByField='LastName'; reverseSort = !reverseSort">
                        Full Name <span ng-show="orderByField == 'LastName'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='PhoneNumber'; reverseSort = !reverseSort">
                        Phone Number <span ng-show="orderByField == 'PhoneNumber'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='Email'; reverseSort = !reverseSort">
                        Email <span ng-show="orderByField == 'Email'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th style="width:69px;">
                    <a href="#" ng-click="orderByField='Roles'; reverseSort = !reverseSort">
                        Roles <span ng-show="orderByField == 'Roles'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat="user in users | orderBy:orderByField:reverseSort | filter:{Roles:'Patient'}">
                <td>{{user.LastName}}, {{user.FirstName}}</td>
                <td>{{user.PhoneNumber}}</td>
                <td>{{user.Email}}</td>
                <td>
                    <div ng-repeat="role in user.Roles">
                        {{role}}
                    </div>
                    <button class="btn btn-danger btn-xs" ng-click="removeUser(user)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>-->
            <!--</tr>-->
        </tbody>
    </table>
</div>

<!--<table id="prescription-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Prescription ID</th>
            <th>Medication ID</th>
            <th>Frequency</th>
            <th>Dosage</th>
            <th>Notes</th>
            <th style="width:69px;">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions">
            <td>{{prescription.PrescriptionId}}</td>
            <td>{{prescription.MedicationId}}</td>
            <td>{{prescription.Frequency}}</td>
            <td>{{prescription.Dosage}}</td>
            <td>{{prescription.Notes}}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="removePrescription(prescription)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>-->
