<form>
    <div class="modal-header">
        <h3 class="modal-title">Resend Email Verification</h3>
    </div>

    <div class="modal-body">
        <cm-notification-bar></cm-notification-bar>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" placeholder="Enter your email" type="email" ng-model="data.email" required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="resendVerify()" ng-disabled="form.$invalid || data.isSubmitting">Send</button>
        <button class="btn btn-warning" type=button ng-click="$dismiss()" ng-disabled="data.isSubmitting">Cancel</button>
    </div>
</form>