<form name="form" ng-submit="forgotPassword()">
    <div class="modal-header">
        <h3 class="modal-title">Forgot Password</h3>
    </div>

    <div class="modal-body">
        <cm-notification-bar></cm-notification-bar>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" placeholder="Enter your username" type="text" ng-model="data.username" required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="data.isSubmitting">Reset My Password</button>
        <button class="btn btn-warning" type=button ng-click="$dismiss()" ng-disabled="data.isSubmitting">Cancel</button>
    </div>
</form>