<form>
    <div class="modal-header">
        <h3 class="modal-title">Reset Password</h3>
    </div>

    <div class="modal-body">
        <cm-notification-bar></cm-notification-bar>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input id="newPassword" class="form-control" placeholder="Enter your new password" type="password" ng-model="data.newPassword" required autofocus>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input id="confirmPassword" class="form-control" placeholder="Confirm your new password" type="password" ng-model="data.confirmPassword" required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="resetPassword()" ng-disabled="form.$invalid || data.isSubmitting">Reset My Password</button>
        <button class="btn btn-warning" type=button ng-click="$dismiss()" ng-disabled="data.isSubmitting">Cancel</button>
    </div>
</form>