<h2>Medications</h2>

<div>
    <strong> <button class="btn btn-lg btn-default pull-right visible-lg-inline-block" ng-click="createMedication()">Add Medications...</button></strong>
</div>
<table id="medications-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Medication ID</th>
            <th>Generic Name</th>
            <th>Code</th>
            <th style="width:45px;">Edit</th>
            <th style="width:45px;">Prescription</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="medication in medications">
            <td>{{medication.MedicationId}}</td>
            <td>{{medication.GenericName}}</td>
            <td>{{medication.Code}}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="removeMedication(medication)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
            <td align="center">
                <button class="btn btn-danger btn-xs" ng-click="createPrescription(medication.MedicationId)">
                    <i class="glyphicon glyphicon-send"></i>
                </button>
            </td>

        </tr>
    </tbody>
</table>