<div class="well-lg">
    <h2>Medications</h2>
    <button class="btn btn-lg btn-default pull-right" ng-click="createMedication()">Add Medication</button>

    <table id="medications-list" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Generic Name</th>
                <th>Medication ID</th>
                <th>Code</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="medication in medications">
                <td class="col-md-2">{{medication.GenericName}}</td>
                <td class="col-md-2" >{{medication.MedicationId | uppercase}}</td>
                <td class="col-md-1">{{medication.Code}}</td>
                <td class="col-md-1">
                    <button class="btn btn-danger btn-xs" ng-click="removeMedication(medication)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
