<form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Add New Medication</h3>
    </div>

    <div class="modal-body">
        <cm-notification-bar></cm-notification-bar>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-tag"></i></span>
                <input id="medication-genericname" class="form-control" placeholder="Generic Name" type="text" 
                       ng-model="medicationsData.GenericName" 
                       watch-change="check_generic_name()" 
                       required>
            </div>
        </div>
        <div id="generic-name-error" class="form-group" ng-hide="GenericName_Valid">
            <font color="red">Generic Name must only contain letters.</font>
        </div>  
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><font size="4">#</font></span>
                <input id="medication-code" class="form-control" placeholder="Code" type="text"  maxlength="5" 
                       ng-pattern="/^\d{5}$/" 
                       ng-model="medicationsData.Code" 
                       ng-maxlength="5"
                       watch-change="check_code()" 
                       required>
            </div>
        </div>
        <div id="code-error" class="form-group" ng-hide="Code_Valid">
            <font color="red">Code must only contain numbers.</font>
        </div>        
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="create()" ng-disabled="form.$invalid || medicationsData.isSubmitting">
                    Create
                </button>
            </div>
        </div>
    </div>
</form>