<form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Register New Physician/Nurse</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                <input id="register-username" class="form-control" pattern="[A-Za-z0-9.]{3,20}" placeholder="Username" type="text" 
                       ng-model="creator.UserName" 
                       watch-change="check_username()" 
                       required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div ng-hide="Username_Valid_length">
                <font color="red">Username must be 3-20 characters long.</font>
            </div>
            <div ng-hide="Username_Valid_symbol">
                <font color="red">Username must only contain letters and numbers.</font>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input id="register-email" class="form-control" placeholder="Email" type="email" 
                       ng-model="creator.Email" 
                       required autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="user-first" class="form-control" placeholder="First Name" type="text" 
                       ng-model="creator.FirstName" 
                       ng-change="check_firstName()" 
                       required>
                <input id="user-last" class="form-control" placeholder="Last Name" type="text" 
                       ng-model="creator.LastName" 
                       ng-change="check_lastName()" 
                       required>
            </div>
        </div>
        <div class="form-group">
            <div ng-hide="Firstname_Valid">
                <font color="red">First name must only contain letters.</font>
            </div>
            <div ng-hide="Lastname_Valid">
                <font color="red">Last name must only contain letters.</font>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input id="register-phonenumber" class="form-control" placeholder="(xxx) xxx-xxxx" type="text" 
                       ng-model="data.PhoneNumber" 
                       ui-mask="(999) 999-9999" 
                       required>
            </div><!-- /input-group -->
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                        <div class="form-inline">
                            <input type="text" style="width:319px" id="admin-DOB" ng-model="dt" ng-click="open($event)" class="form-control" 
                                   datepicker-popup="{{format}}" 
                                   placeholder="YYYY-MM-DD" 
                                   show-button-bar="false" 
                                   is-open="opened" 
                                   datepicker-options="dateOptions" 
                                   ng-required="true" 
                                   close-text="Close">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-male"></i> /  <i class="fa fa-female"></i></span>
                        <select required class="form-control" ng-model="creator.Gender" aria-expanded="false">
                            <option class="placeholder" selected disabled value="">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                <select required class="col-md-12 form-control-static" ng-model="data.Role">
                    <option class="placeholder" selected disabled value="">Role</option>
                    <option value="Physician">Physician</option>
                    <option value="Nurse">Nurse</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button style="padding-top:5px" class="btn btn-primary btn-lg btn-block" type="submit" ng-click="create()" ng-disabled="form.$invalid || data.isSubmitting" tabindex="0">Register</button>
        </div>
    </div>
</form>