<form name="form" ng-submit="search()">
    <div class="modal-header">
        <h3 class="modal-title">Assign New Care Team</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                <input id="patient-name" class="form-control" placeholder="Patient Name" type="text" ng-model="patient.Name" required>
            </div>
        </div>
     
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea id="prescription-notes" class="form-control" placeholder="Team Name" type="text" ng-model="Name" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                <input id="providerid" class="form-control" placeholder="Provider Id" type="text" ng-model="providerid" required>
            </div>
        </div>
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-danger btn-lg btn-block" type="button" ng-click="AddProvider()">Add Provider</button>
            </div>
        </div>
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-danger btn-lg btn-block" type="button" ng-click="create()">Create</button>
            </div>
        </div>
    </div>
</form>