<form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Update CareTeam</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <label>Team Name</label>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <input id="team-name" class="form-control" placeholder="Name" type="text" ng-model="careTeam.Name" required>
            </div>                   
        </div>
        <label>Providers</label>
        <div class="form-group">
            <div class="form-group col-md-5">
                <select id="leftValues" size="10" multiple>
                    <option class="placeholder" disabled>-------Available Providers-------</option>
                    <option ng-repeat="provider in providers" value="{{provider.UserId}}">
                        {{provider.LastName}}, {{provider.FirstName}} - Role: {{provider.Roles[0]}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-1" style="padding-left:23px">
                <input type="button" id="btnLeft" value="&lt;&lt;" ng-click="righttoleft()" />
                <input type="button" id="btnRight" value="&gt;&gt;" ng-click="lefttoright()" />
            </div>
            <div class="form-group col-md-5">
                <select id="rightValues" size="10" multiple>
                    <option class="placeholder" disabled>-------Selected Providers-------</option>
                    <option ng-repeat="provider in careTeam.Providers" value="{{provider.UserId}}">
                        {{provider.LastName}}, {{provider.FirstName}} - Role: {{provider.Roles[0]}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group" style="pointer-events:none">
        <div class="profile-buttons">
            <button class="btn btn-primary btn-lg" ng-click="update()" type="submit" style="pointer-events:all">Update CareTeam</button>           
        </div>
    </div>
</form>