<tabset>
    <button class="btn btn-sm btn-default pull-right" ng-show="PhysicianTabActive" ng-click="createProvider()">Add Physician/Nurse</button>
    <button class="btn btn-sm btn-default pull-right" ng-show="SupporterTabActive" ng-click="createSupporter()">Add Supporter</button>

    <tab heading="Patients" id="patient-tab" ng-click="PhysicianTabActive=false;SupporterTabActive=false">
        <table id="patient-list" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldPatient='LastName'; reverseSortPatient = !reverseSortPatient">
                            Full Name <span ng-show="orderByFieldPatient == 'LastName'" class="fa" 
                                            ng-class="reverseSortPatient ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldPatient='UserName'; reverseSortPatient = !reverseSortPatient">
                            UserName <span ng-show="orderByFieldPatient == 'UserName'" 
                                           class="fa" 
                                           ng-class="reverseSortPatient ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-4">
                        <a href="#" ng-click="orderByFieldPatient='Email'; reverseSortPatient = !reverseSortPatient">
                            Email <span ng-show="orderByFieldPatient == 'Email'" 
                                        class="fa" 
                                        ng-class="reverseSortPatient ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-4"></th>
                    <th style="width:69px;">Remove</th>
                    <th style="width:69px;">CareTeam</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:orderByFieldPatient:reverseSortPatient | filter:{Roles:'Patient'}">
                    <td>{{user.LastName}}, {{user.FirstName}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.Email}}</td>
                    <td></td>
                    <td><button class="btn btn-danger btn-xs center-block" ng-click="removeUser(user)"><i class="glyphicon glyphicon-trash"></i></button></td>
                    <td align="center">
                        <button class="btn btn-primary btn-xs" ng-click="createCareTeam(user)">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Physicians & Nurses" id="physician-tab" ng-click="PhysicianTabActive=true;SupporterTabActive=false">
        <table id="physician-list" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldProvider='LastName'; reverseSortProvider = !reverseSortProvider">
                            Full Name <span ng-show="orderByFieldProvider == 'LastName'" 
                                            class="fa" 
                                            ng-class="reverseSortProvider ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldProvider='UserName'; reverseSortProvider = !reverseSortProvider">
                            UserName <span ng-show="orderByFieldProvider == 'UserName'" 
                                           class="fa" 
                                           ng-class="reverseSortProvider ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-4">
                        <a href="#" ng-click="orderByFieldProvider='Email'; reverseSortProvider = !reverseSortProvider">
                            Email <span ng-show="orderByFieldProvider == 'Email'" 
                                        class="fa" 
                                        ng-class="reverseSortProvider ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-4">
                        <a href="#" ng-click="orderByFieldProvider='Roles'; reverseSortProvider = !reverseSortProvider">
                            Roles <span ng-show="orderByFieldProvider == 'Roles'" 
                                        class="fa" 
                                        ng-class="reverseSortProvider ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th style="width:69px;">
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:orderByFieldProvider:reverseSortProvider | filter:isProvider">
                    <td>{{user.LastName}}, {{user.FirstName}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.Email}}</td>
                    <td>
                        <div ng-repeat="role in user.Roles">
                            {{role}}
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs center-block" ng-click="removeUser(user)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="CareTeams" id="careteam-tab" ng-click="PhysicianTabActive=false;SupporterTabActive=false">
        <table id="careteams-list" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="orderByFieldCareTeam='Name'; reverseSortCareTeam = !reverseSortCareTeam">
                            Name <span ng-show="orderByFieldCareTeam == 'Name'" 
                                       class="fa" 
                                       ng-class="reverseSortCareTeam ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByFieldCareTeam='Patient.LastName'; reverseSortCareTeam = !reverseSortCareTeam">
                            Patient <span ng-show="orderByFieldCareTeam == 'Patient.LastName'" 
                                          class="fa" 
                                          ng-class="reverseSortCareTeam ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th>Providers</th>
                    <th style="width:69px;">
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="careTeam in careTeams | orderBy:orderByFieldCareTeam:reverseSortCareTeam">
                    <td>{{careTeam.Name}}</td>
                    <td>{{careTeam.Patient.LastName}}, {{careTeam.Patient.FirstName}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="provider in careTeam.Providers">{{provider.LastName}}, {{provider.FirstName}} - {{provider.Roles[0]}}</li>
                        </ul>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" ng-click="updateCareTeam(careTeam)">
                            <i class="glyphicon glyphicon-wrench"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Supporters" id="supporter-tab" ng-click="PhysicianTabActive=false;SupporterTabActive=true">
        <table id="supporter-list" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldSupporter ='LastName'; reverseSortSupporter = !reverseSortSupporter">
                            Full Name <span ng-show="orderByFieldSupporter == 'LastName'" class="fa"
                                            ng-class="reverseSortSupporter ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldSupporter ='UserName'; reverseSortSupporter = !reverseSortSupporter">
                            UserName <span ng-show="orderByFieldSupporter == 'UserName'"
                                           class="fa"
                                           ng-class="reverseSortSupporter ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>
                    <th class="col-md-3">
                        <a href="#" ng-click="orderByFieldSupporter ='Email'; reverseSortSupporter = !reverseSortSupporter">
                            Email <span ng-show="orderByFieldSupporter == 'Email'"
                                        class="fa"
                                        ng-class="reverseSortSupporter ? 'fa-caret-up' : 'fa-caret-down'"></span>
                        </a>
                    </th>

                    <th class="col-md-3">CareTeam</th>
                    <th style="width:69px;">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy:orderByFieldSupporter:reverseSortSupporter | filter:{Roles:'Supporter'}">
                    <td>{{user.LastName}}, {{user.FirstName}}</td>
                    <td>{{user.UserName}}</td>
                    <td>{{user.Email}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="careTeam in careTeams">{{careTeam.Name}}</li>
                        </ul>
                    </td>
                    <td><button class="btn btn-danger btn-xs center-block" ng-click="removeUser(user)"><i class="glyphicon glyphicon-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabset>
