<form>
    <div class="modal-header">
        <h3 class="modal-title">Register New Physician/Nurse</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="input-group" style="padding-bottom:10px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="physiciandata-username" class="form-control" pattern="[A-Za-z0-9.]{3,20}" placeholder="Username" type="text" ng-model="physicianData.UserName" ng-change="check_username_symbol();check_username_length()" required autofocus>
        </div>
        <div ng-hide="Username_Valid_length" style="padding-left:50px;padding-bottom:5px">
            <font color="red">Username must be 3-20 characters long.</font>
        </div>
        <div ng-hide="Username_Valid_symbol" style="padding-left:50px;padding-bottom:5px">
            <font color="red">Username must only contain letters and numbers.</font>
        </div>

        <div class="input-group" style="padding-bottom:10px">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input id="physiciandata-email" class="form-control" placeholder="Email" type="email" ng-model="physicianData.Email" required autofocus>
        </div>

        <div class="input-group" style="padding-bottom:10px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-fire"></i></span>
            <input id="user-first" class="form-control" placeholder="First Name" type="text" ng-model="physicianData.FirstName" ng-change="check_firstName()" required tabindex="0">
            <input id="user-last" class="form-control" placeholder="Last Name" type="text" ng-model="physicianData.LastName" ng-change="check_lastName()" required tabindex="0">
        </div>
        <div ng-hide="Firstname_Valid" style="padding-left:50px;padding-bottom:5px">
            <font color="red">First name must only contain letters.</font>
        </div>
        <div ng-hide="Lastname_Valid" style="padding-left:50px;padding-bottom:5px">
            <font color="red">Last name must only contain letters.</font>
        </div>

        <div class="input-group" style="padding-bottom:10px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <select required class="col-md-12 form-control-static" ng-model="physicianData.Gender" aria-expanded="false" tabindex="0" aria-haspopup="true" aria-activedescendant=":d">
                <option class="placeholder" selected disabled value="">Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <select required class="col-md-4 form-control-static" ng-model="SelectedYear" ng-options="label for label in Years" ng-change="UpdateNumberOfDays()">
                <option class="placeholder" selected disabled value="">Date</option>
            </select>
            <select required class="col-md-4 form-control-static" ng-model="SelectedMonth" ng-options="label for label in Months" ng-change="UpdateNumberOfDays()">
                <option class="placeholder" selected disabled value="">Of</option>
            </select>
            <select required class="col-md-4 form-control-static" ng-model="SelectedDay" ng-options="label for label in Days | limitTo:NumberOfDays">
                '
                <option class="placeholder" selected disabled value="">Birth</option>
            </select>
        </div>

        <div class="input-group" style="padding-bottom:10px">
            <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
            <select required class="col-md-12 form-control-static" ng-model="physicianData.Role" aria-expanded="false" tabindex="0" aria-haspopup="true" aria-activedescendant=":d">
                <option class="placeholder" selected disabled value="">Type</option>
                <option value="physician">Physician</option>
                <option value="nurse">Nurse</option>
            </select>
        </div>

        <div class="modal-footer">
            <button style="padding-top:5px" class="btn btn-danger btn-lg btn-block" type="submit" ng-click="register()" ng-disabled="form.$invalid || data.isSubmitting" tabindex="0">Register</button>
        </div>
        </div>
</form>