<ol class="breadcrumb">
    <li><a ui-sref="apps.list">Apps</a></li>
    <li class="active">App Details</li>
</ol>

<h3>App Details</h3>
<div class="row">
    <div class="well col-md-7 col-md-offset-1">
        <button type="button" class="close btn-tr" name="Delete" ng-click="deleteApp()" title="Delete App"><i class="fa fa-trash"></i></button>
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>
                <span editable-text="app.AppName" e-form="editAppName" onbeforesave="copyApp()" onaftersave="renameApp()" e-required="true" e-style="width: 100%;">
                    {{app.AppName}}
                </span>
                <button class="btn btn-xs btn-default" ng-click="editAppName.$show()" ng-hide="editAppName.$visible || authStatus.ssoProvider != null"><i class="glyphicon glyphicon-pencil"></i></button>
            </dd>
            <dt>Plan: </dt>
            <dd>
                <span editable-select="app.PlanId" e-form="editAppPlan" onbeforesave="copyApp()" onaftersave="updatePlan()" e-ng-options="plan.value as plan.text for plan in plans" e-required="true" e-style="width: 100%;">
                    {{app.PlanName}}
                </span>
                <button class="btn btn-xs btn-default" ng-click="editAppPlan.$show()" ng-hide="editAppPlan.$visible || authStatus.ssoProvider != null"><i class="glyphicon glyphicon-pencil"></i></button>
            </dd>
            <dt>App Secret:</dt>
            <dd><button class="btn btn-xs btn-default" ng-show="data.secretHidden" ng-click="toggleSecret()">Show</button>
                <span ng-hide="data.secretHidden" class="app-secret-text">
                    {{app.AppSecret}}
                    <span class="btn-group">
                        <button class="btn btn-xs btn-default" ng-click="showSecret()"><i class="fa fa-clipboard"></i></button>                
                        <button class="btn btn-xs btn-default" ng-click="toggleSecret()"><i class="fa fa-times"></i></button>
                    </span>
                </span>
            </dd>
        </dl>        
    </div>
</div>
<h3>Security Partitions <small>Click to View / Edit</small><button type="button" class="btn btn-primary pull-right" ng-click="addKey()">Add Security Partition <i class="fa fa-th-large"></i></button></h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Security Partition ID</th>
            <th>Version</th>
            <th>Description</th>
            <th>Added By</th>
            <th>Created (UTC)</th>
            <th>Modified (UTC)</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="key in keys" ng-click="viewKey(key)">
            <td>{{key.SecPartId}}</td>
            <td>{{key.SecPartVer}}</td>
            <td>{{key.Description}}</td>
            <td>{{key.AddedBy}}</td>
            <td>{{key.CreatedAt | date:'medium'}}</td>
            <td>{{key.ModifiedAt | date:'medium'}}</td>
        </tr>
    </tbody>

</table>