<form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Update Prescription</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <label>End Date</label>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <div class="form-inline">
                                    <input type="text" id="prescription-date" ng-model="dt" ng-click="open($event)" class="form-control" datepicker-popup="{{format}}" placeholder="YYYY-MM-DD" show-button-bar="false" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Notes</label>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                        <textarea id="prescription-notes" class="form-control" placeholder="Notes" type="text" ng-model="prescription.Notes" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-buttons">
            <button class="btn btn-primary btn-lg" ng-click="updatePrescription()" type="submit">Update Prescription</button>
            <a id="reset-prescription" class="text-danger reset-link" type="button" ng-click="resetPrescription()" ng-disabled="data.isSubmitting">
                <i class="fa fa-undo"></i> Reset
            </a>
        </div>
    </div>
</form>