<h2>Prescriptions</h2>

<!--<div>
    <strong><button class="btn btn-lg btn-default pull-right visible-lg-inline-block" ng-click="createPrescription()">Add Prescription</button></strong>
</div>-->
<table id="prescription-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Medication</th>
            <th>Patient</th>
            <th>Frequency</th>
            <th>Dosage</th>
            <th>Notes</th>
            <th style="width:69px;">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in prescriptions | filter:getPrescriptionInfo">
            <td>{{MedicationName}}</td>
            <!--<td>{{}}</td>-->
            <td>{{FullName}}</td>
            <td>{{prescription.Frequency}}</td>
            <td>{{prescription.Dosage}}</td>
            <td>{{prescription.Notes}}</td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="removePrescription(prescription)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
