<h2>Prescriptions</h2>

<!--<div>
    <strong><button class="btn btn-lg btn-default pull-right visible-lg-inline-block" ng-click="createPrescription()">Add Prescription</button></strong>
</div>-->
<table id="activeprescription-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="orderByField='MedicationCode'; reverseSort = !reverseSort">
                    Medication(Active) <span ng-show="orderByField == 'MedicationCode'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='PatientName'; reverseSort = !reverseSort">
                    Patient <span ng-show="orderByField == 'PatientName'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='StartDate'; reverseSort = !reverseSort">
                    Start Date <span ng-show="orderByField == 'StartDate'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='EndDate'; reverseSort = !reverseSort">
                    End Date <span ng-show="orderByField == 'EndDate'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>Frequency</th>
            <th>Dosage</th>
            <th>Notes</th>
            <th style="width:69px;">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="prescription in activeprescriptions | orderBy:orderByField:reverseSort">
            <td>{{prescription.MedicationCode}} ({{prescription.MedicationName}})</td>
            <td>{{prescription.PatientName}}</td>
            <td>{{prescription.StartDate | date}}</td>
            <td>{{prescription.EndDate | date}}</td>
            <td>{{prescription.Frequency}}</td>
            <td>{{prescription.Dosage}}</td>
            <td class="col-md-3">
                <button popover="{{prescription.Notes}}" popover-placement="bottom" popover-trigger="mouseenter" class="btn btn-default">{{prescription.Notes | limitTo: 40 : 0}}</button>
            </td>
            <!--<td>
                <button class="btn btn-danger btn-xs" ng-click="removePrescription(prescription)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>-->
            <td>
                <button class="btn btn-danger btn-xs" ng-click="updatePrescription(prescription)">
                    <i class="glyphicon glyphicon-wrench"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<table id="expiredprescription-list" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="orderByField='MedicationCode'; reverseSort = !reverseSort">
                        Medication(Expired) <span ng-show="orderByField == 'MedicationCode'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='PatientName'; reverseSort = !reverseSort">
                        Patient <span ng-show="orderByField == 'PatientName'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='StartDate'; reverseSort = !reverseSort">
                        Start Date <span ng-show="orderByField == 'StartDate'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='EndDate'; reverseSort = !reverseSort">
                        End Date <span ng-show="orderByField == 'EndDate'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                </th>
                <th>Frequency</th>
                <th>Dosage</th>
                <th>Notes</th>
                <th style="width:69px;">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prescription in expiredprescriptions | orderBy:orderByField:reverseSort">
                <td>{{prescription.MedicationCode}} ({{prescription.MedicationName}})</td>
                <td>{{prescription.PatientName}}</td>
                <td>{{prescription.StartDate | date}}</td>
                <td>{{prescription.EndDate | date}}</td>
                <td>{{prescription.Frequency}}</td>
                <td>{{prescription.Dosage}}</td>
                <td class="col-md-3">{{prescription.Notes}}</td>
                <td>
                    <button class="btn btn-danger btn-xs" ng-click="removePrescription(prescription)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
