<form name="form" ng-submit="search()">
    <div class="modal-header">
        <h3 class="modal-title">Add New Prescription</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                <input id="medication-name" class="form-control" placeholder="Medication Name" type="text" ng-model="prescriptionsData.MedicationName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input id="prescription-frequency" class="form-control" placeholder="Frequency" type="text" ng-model="prescriptionsData.Frequency" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                <input id="prescription-dosage" class="form-control" placeholder="Dosage" type="text" ng-model="prescriptionsData.Dosage" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea id="prescription-notes" class="form-control" placeholder="Notes" type="text" ng-model="prescriptionsData.Notes" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <!--<select id="duration-dropdown" required class="form-control" ng-model="SelectedDuration" >
                    <option ng-repeat="i in getNumber(number) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>-->

                <div class="form-inline">
                    <select required class="form-control" ng-model="SelectedMonth" ng-options="month.value as month.text for month in Months" ng-change="UpdateNumberOfDays()">
                        <option class="placeholder" selected disabled value="">Month</option>
                    </select>
                    <select required class="form-control" ng-model="SelectedDay" ng-options="day as day for day in Days | limitTo:NumberOfDays">
                        <option class="placeholder" selected disabled value="">Day</option>
                    </select>
                    <select required class="form-control" ng-model="SelectedYear" ng-init="SelectedYear=CurrrentYear" ng-options="years as years for years in Years" ng-change="UpdateNumberOfDays()">
                        <option class="placeholder" selected disabled value="">Year</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-cloud"></i></span>
                <input id="prescription-frequency" class="form-control" placeholder="Patient Full Name" type="text" ng-model="prescriptionsData.PatientName" required>
                <span ng-click="search()" class="input-group-addon"><i class="fa fa-search"></i></span>
                <button type="submit" ng-click="search()"ng-hide="true"></button>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <select multiple required class="form-control" ng-model="prescriptionsData.PatientId">    
                    <option class="placeholder" selected disabled value="">--Select Patient--</option>
                    <option ng-repeat="candidate in Candidates" value="{{candidate.UserId}}">
                        Name: {{candidate.LastName}}, {{candidate.FirstName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Born: {{candidate.DateOfBirth | date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserName: {{candidate.UserName}}
                    </option>
                </select>
            </div>
        </div>     
        <div class="form-group">
            <div class="modal-footer">
                <button class="btn btn-danger btn-lg btn-block" type="button" ng-click="create()" ng-disabled="form.$invalid || medicationsData.isSubmitting">Create</button>
            </div>
        </div>
    </div>
</form>