<form name="form" ng-submit="search()">
    <div class="modal-header">
        <h3 class="modal-title">Add New Prescription</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
                <input id="medication-name" class="form-control" placeholder="Medication Name" type="text" ng-model="prescriptionsData.MedicationName" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input id="prescription-frequency" class="form-control" placeholder="Frequency" type="text" ng-model="prescriptionsData.Frequency" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                <input id="prescription-dosage" class="form-control" placeholder="Dosage" type="text" ng-model="prescriptionsData.Dosage" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea id="prescription-notes" class="form-control" placeholder="Notes" type="text" ng-model="prescriptionsData.Notes" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <div class="form-inline">
                            <select required class="form-control" ng-model="SelectedMonth" ng-options="month.value as month.text for month in Months" ng-change="UpdateNumberOfDays()">
                            </select>
                            <select required class="form-control" ng-model="SelectedDay" ng-options="day as day for day in Days | limitTo:NumberOfDays">
                            </select>
                            <select required class="form-control" ng-model="SelectedYear" ng-options="years as years for years in Years | reverse" ng-change="UpdateNumberOfDays()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <select id="duration-dropdown" required class="form-control" ng-model="prescriptionsData.Duration" ng-options="period as period for period in Periods">
                            <option class="placeholder" selected disabled value="">Duration</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <select id="duration-dropdown" required class="form-control" ng-model="prescriptionsData.Units">
                            <option value="1">Days</option>
                            <option value="7">Weeks</option>
                            <option value="31">Months</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
            </div>
        <tabset>
            <tab heading="A-I" id="a-i-tab">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select multiple required class="form-control" ng-model="prescriptionsData.PatientId">
                            <option class="placeholder" selected disabled value="">--Select Patient--</option>
                            <option ng-repeat="candidate in CandidatesAI" value="{{candidate.UserId}}">
                                Name: {{candidate.LastName}}, {{candidate.FirstName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Born: {{candidate.DateOfBirth | date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserName: {{candidate.UserName}}
                            </option>
                        </select>
                    </div>
                </div>
                </tab>
            <tab heading="J-Q" id="J-Q-tab">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select multiple required class="form-control" ng-model="prescriptionsData.PatientId">
                            <option class="placeholder" selected disabled value="">--Select Patient--</option>
                            <option ng-repeat="candidate in CandidatesJQ" value="{{candidate.UserId}}">
                                Name: {{candidate.LastName}}, {{candidate.FirstName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Born: {{candidate.DateOfBirth | date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserName: {{candidate.UserName}}
                            </option>
                        </select>
                    </div>
                </div>
            </tab>
            <tab heading="R-Z" id="R-Z-tab">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <select multiple required class="form-control" ng-model="prescriptionsData.PatientId">
                            <option class="placeholder" selected disabled value="">--Select Patient--</option>
                            <option ng-repeat="candidate in CandidatesRZ" value="{{candidate.UserId}}">
                                Name: {{candidate.LastName}}, {{candidate.FirstName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Born: {{candidate.DateOfBirth | date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UserName: {{candidate.UserName}}
                            </option>
                        </select>
                    </div>
                </div>
            </tab>
            </tabset>
            <div class="form-group">
                <div class="modal-footer">
                    <button class="btn btn-danger btn-lg btn-block" type="button" ng-click="create()" ng-disabled="form.$invalid || medicationsData.isSubmitting">Create</button>
                </div>
            </div>
</div>
</form>