<form name="form" role="form" ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">Add Security Partition</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>

        <div class="form-group">
            <label for="key-sec-part-id">Security Partition ID</label>
            <input id="key-sec-part-id" class="form-control" placeholder="E.g. patients" type="text"
                   ng-model="key.SecPartId"
                   ng-disabled="data.isSubmitting"
                   required autofocus/>
            <p class="help-block">
                This identifying tag must be unique to this app and can NOT be changed.
                Useful when apps want to group encrypted data into separate partitions.
                Since encrypted data is tagged, shorted tags are preferred.
            </p>
        </div>
        <div class="form-group">
            <label for="key-description">Description</label>
            <input id="key-description" class="form-control" placeholder="E.g. All patient data other than billing" type="text"
                   ng-model="key.Description"
                   ng-disabled="data.isSubmitting"
                   required autofocus/>
            <p class="help-block">
                Helps you document this security partition. This doesn't affect encrypted data.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()" ng-disabled="data.isSubmitting">Cancel</button>
    </div>
</form>