
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form class="form-horizontal" name="profileForm" ng-submit="updateProfile()">
                <h2 class="form-header">Edit Profile</h2>
                <div class="form-group">
                    <label for="profile-firstname" class="col-sm-4 control-label">Fisrt Name:</label>
                    <div class="col-sm-8">
                        <input id="profile-firstname" type="text" class="form-control"
                               ng-model="profile.FirstName"
                               ng-disabled="data.isSubmitting"
                               required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-lastname" class="col-sm-4 control-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input id="profile-fullname" type="text" class="form-control" 
                               ng-model="profile.LastName"
                               ng-disabled="data.isSubmitting"
                               required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-email" class="col-sm-4 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input id="profile-email" type="text" class="form-control"
                               ng-model="profile.Email"
                               ng-disabled="data.isSubmitting"
                               required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-gender" class="col-sm-4 control-label">Gender:</label>
                    <div class="col-sm-8">
                        <input id="profile-Gender" type="text" class="form-control"
                               ng-model="profile.Gender"
                               ng-disabled="data.isSubmitting"
                               required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="profile-dob" class="col-sm-4 control-label">Date of Birth:</label>
                    <div class="col-sm-8">
                        <input id="profile-DOB" type="text" class="form-control"
                               ng-model="profile.DOB"
                               ng-disabled="data.isSubmitting"
                               required autofocus />
                    </div>
                </div>
                <div class="profile-buttons">
                    <button class="btn btn-primary btn-lg" type="submit" ng-disabled="data.isSubmitting">Update Profile</button>
                    <a class="text-danger reset-link" type="button"
                       ng-click="resetProfile()"
                       ng-disabled="data.isSubmitting">
                        <i class="fa fa-undo"></i> Reset
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



    
