<div class="col-md-10 col-md-offset-1">
<h2>
    
</h2>
<table id="supporter-list" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                    Care Team <span ng-show="orderByField == 'Name'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="orderByField='Patient.LastName'; reverseSort = !reverseSort">
                    Patient Name <span ng-show="orderByField == 'Patient.LastName'" class="fa" ng-class="reverseSort ? 'fa-caret-up' : 'fa-caret-down'"></span>
                </a>
            </th>
            <th>Medications</th>
            <th>Physicians</th>
            <th>Nurses</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sTeam in sTeams | orderBy:orderByField:reverseSort">
            <td>{{sTeam.Name}}</td>
            <td>{{sTeam.Patient.LastName}}, {{sTeam.Patient.FirstName}}</td>
            <td>
                <button ng-click="medicationHistory(sTeam.Patient)" class="btn btn-default">Click Me!</button>
            </td>
            <td>
                <ul>
                    <li ng-repeat="provider in sTeam.Providers | filter:{Roles:'Physician'}" >{{provider.LastName}}, {{provider.FirstName}} - {{provider.Roles[0]}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="provider in sTeam.Providers | filter:{Roles:'Nurse'}" >{{provider.LastName}}, {{provider.FirstName}} - {{provider.Roles[0]}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
</div>