<form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Register New Supporter</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>
        <div id="supporter-email" class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input id="register-email" class="form-control" placeholder="Email" type="email"
                       ng-model="creator.Email"
                       required autofocus>
            </div>
        </div>
        <div id="supporter-name" class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="user-first" class="form-control" placeholder="First Name" type="text"
                       ng-model="creator.FirstName"
                       ng-change="check_firstName()"
                       required>
                <input id="user-last" class="form-control" placeholder="Last Name" type="text"
                       ng-model="creator.LastName"
                       ng-change="check_lastName()"
                       required>
            </div>
        </div>
        <div id="supporter-name-errors" class="form-group">
            <div id="fn-invalid" ng-hide="Firstname_Valid">
                <font color="red">First name must only contain letters.</font>
            </div>
            <div id="ln-invalid" ng-hide="Lastname_Valid">
                <font color="red">Last name must only contain letters.</font>
            </div>
        </div>
        <div id="supporter-phone" class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input id="register-phonenumber" class="form-control" placeholder="(xxx) xxx-xxxx" type="text"
                       ng-model="data.PhoneNumber"
                       ui-mask="(999) 999-9999"
                       required>
            </div>
        </div>
        <div id="supporter-birthday-gender" class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                        <div class="form-inline">
                            <input type="text" style="width:319px" id="admin-DOB" class="form-control" 
                                   ng-model="dt" 
                                   ng-click="open($event)"
                                   datepicker-popup="{{format}}"
                                   placeholder="YYYY-MM-DD"
                                   show-button-bar="false"
                                   is-open="opened"
                                   datepicker-options="dateOptions"
                                   ng-required="true"
                                   close-text="Close">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-male"></i> /  <i class="fa fa-female"></i></span>
                        <select required class="form-control" ng-model="creator.Gender" aria-expanded="false">
                            <option class="placeholder" selected disabled value="">Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="register-btn" style="padding-top:5px" class="btn btn-primary btn-lg btn-block" type="submit" 
                    ng-click="create()" 
                    ng-disabled="form.$invalid || data.isSubmitting">
                Register
            </button>
        </div>
    </div>
</form>