<form name="form" role="form" ng-submit="inviteSupporter()">
    <div class="modal-header">
        <h3 class="modal-title">Invite Supporter</h3>
    </div>

    <div class="modal-body">
        <cry-notification-bar></cry-notification-bar>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="supporter-name" class="form-control" placeholder="Supporter Name" type="text"
                       ng-model="Inviter.Name"
                       ng-disabled="data.isSubmitting"
                       required>   
            </div>                     
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input id="supporer-email" class="form-control" placeholder="Supporter Email" type="text"
                       ng-model="Inviter.Email"
                       ng-disabled="data.isSubmitting"
                       required>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Invite</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()" ng-disabled="data.isSubmitting">Cancel</button>
    </div>
</form>