<div class="row">
    <div class="text-center">
        <p><h1 class="text-center">CloudMedic <span class="glyphicon glyphicon-plus text-danger" aria-hidden="true"></span></h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 class="text-center">Registration</h2>
            <cry-notification-bar></cry-notification-bar>
            <form name="form" novalidate role="form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="register-username" class="form-control" placeholder="Username" type="text" ng-model="registerData.UserName" required autofocus aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input id="register-email" class="form-control" placeholder="Email" type="text" ng-model="registerData.Email" required autofocus aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="user-password" class="form-control" placeholder="Enter password" type="password" ng-model="registerData.Password" required tabindex="0">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="user-confirmpassword" class="form-control" placeholder="Confirm Password" type="password" ng-model="registerData.ConfirmPassword" required tabindex="0">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                    <input id="user-first" class="form-control" placeholder="First Name" type="text" ng-model="registerData.FirstName" required tabindex="0">
                    <input id="user-last" class="form-control" placeholder="Last Name" type="text" ng-model="registerData.LastName" required tabindex="0">
                </div>
                <div class="input-group">
                    
                    <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                    <select class="col-md-12 form-control-static" ng-model="registerData.Gender" aria-expanded="false" tabindex="0" aria-haspopup="true" aria-activedescendant=":d" title="Gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                <!--    <div style="height:auto;width:15px; display:inline-block">-->

                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    
                    <select class="col-md-4 form-control-static" ng-model="SelectedYear" ng-options="label for label in Years" ng-change="UpdateNumberOfDays()"></select>
                    <select class="col-md-4 form-control-static" ng-model="SelectedMonth" ng-options="label for label in Months" ng-change="UpdateNumberOfDays()"></select>
                    <select class="col-md-4 form-control-static" ng-model="SelectedDay" ng-options="label for label in Days | limitTo:NumberOfDays"></select>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-lg btn-block" type="submit" ng-click="register()" ng-disabled="form.$invalid || data.isSubmitting" tabindex="0">Register</button>
                </div>
</form>
            <div class="text-center">
                <strong>Already have an account? <a ui-sref="login" title="Sign In Immediately">Log in here</a></strong>
            </div>
</div>