<div class="row">
    <div class="text-center">
        <div style="margin-top: 20px;"></div>
        <p><h1 class="text-center">CloudMedic <span class="glyphicon glyphicon-plus text-danger" aria-hidden="true"></span></h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 class="text-center">Registration</h2>
            <form name="form" novalidate role="form">
                <div class="form-group">
                    <label for="register-email">Email Address</label>
                    <input id="register-email" class="form-control" placeholder="Enter email" type="text" ng-model="registerData.Email" required autofocus tabindex="0">
              </div>
                <div class="form-group">
                    <label for="user-password">Password</label>
                    <input id="user-password" class="form-control" placeholder="Enter password" type="password" ng-model="registerData.Password" required tabindex="0">
                </div>
                <div class="form-group">
                    <label for="user-confirmpassword">Confirm Password</label>
                    <input id="user-confirmpassword" class="form-control" placeholder="Confirm Password" type="password" ng-model="registerData.ConfirmPassword" required tabindex="0">
                </div>
                <div class="form-group">
                    <label for="user-first">First Name</label>
                    <input id="user-first" class="form-control" placeholder="First Name" type="text" ng-model="registerData.FirstName" required tabindex="0">
                </div>
                <div class="form-group">
                    <label for="user-last">Last Name</label>
                    <input id="user-last" class="form-control" placeholder="Last Name" type="text" ng-model="registerData.LastName" required tabindex="0">
                </div>
                <div class="form-group">
                    <label for="radio">Gender:</label>
                    <label><input id="radio-male" type="radio" name="optradio" ng-model="registerData.Gender" value="male" checked>Male</label>
                    <label><input id="radio-female" type="radio" name="optradio" ng-model="registerData.Gender" value="female">Female</label>
                </div>
                <div class="form-group" ng-init="SelectedYear=1900; SelectedMonth=1; SelectedDay=1">
                    <label for="user-dob">Date of Birth</label>
                        Year : <select ng-model="SelectedYear" ng-options="label for label in Years" ng-change="UpdateNumberOfDays()"></select>
                        Month: <select ng-model="SelectedMonth" ng-options="label for label in Months" ng-change="UpdateNumberOfDays()"></select>
                        Day: <select ng-model="SelectedDay" ng-options="label for label in Days | limitTo:NumberOfDays"></select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="register()" tabindex="0">Register</button>                    
                </div>
            </form>
        </div>
    </div>
</div>