<div class="row">
    <div class="text-center">
        <p><h1 class="text-center">CloudMedic <span class="glyphicon glyphicon-plus text-danger" aria-hidden="true"></span></h1>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="well" style="padding-top:0">
            <h2 class="text-center">Registration</h2>
            <cry-notification-bar></cry-notification-bar>
            <form name="form" novalidate role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        <input id="register-username" class="form-control" pattern="[A-Za-z0-9.]{3,20}" placeholder="Username" type="text" ng-model="data.UserName" watch-change="check_username_symbol();check_username_length()" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="Username_Valid_length">
                        <font color="red">Username must be 3-20 characters long.</font>
                    </div>
                    <div ng-hide="Username_Valid_symbol">
                        <font color="red">Username must only contain letters and numbers.</font>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input id="register-email" class="form-control" placeholder="Email" type="email" ng-model="data.Email" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user-first" class="form-control" placeholder="First Name" type="text" ng-model="data.FirstName" ng-change="check_firstName()" required>
                        <input id="user-last" class="form-control" placeholder="Last Name" type="text" ng-model="data.LastName" ng-change="check_lastName()" required>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="Firstname_Valid">
                        <font color="red">First name must only contain letters.</font>
                    </div>
                    <div ng-hide="Lastname_Valid">
                        <font color="red">Last name must only contain letters.</font>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="user-password" class="form-control" pattern="(?=(.*\d))(?=(.*[A-Z]))(?=(.*[a-z]))(?=(.*[^A-Za-z0-9])).{6,}" placeholder="Enter password" type="password" ng-model="data.Password" watch-change="check_password()" required>
                        <input id="user-confirmpassword" class="form-control" placeholder="Confirm Password" type="password" ng-model="data.ConfirmPassword" ng-change="compare_passwords()" required>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-hide="Password_Valid">
                        <font color="red">Password invalid:</font>
                        <ul style="margin-bottom:5px">
                            <li ng-show="Password_Short">
                                <font color="red">must be at least six characters</font>
                            </li>
                            <li ng-hide="Password_Digit">
                                <font color="red">must contain a digit</font>
                            </li>
                            <li ng-hide="Password_Upper">
                                <font color="red">must contain an upper case character</font>
                            </li>
                            <li ng-hide="Password_Lower">
                                <font color="red">must contain a lower case character</font>
                            </li>
                            <li ng-hide="Password_Special">
                                <font color="red">must contain a special character</font>
                            </li>
                        </ul>
                    </div>
                    <div ng-hide="Passwords_Match">
                        <font color="red">Passwords must match!</font>
                    </div>
                </div>   
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input id="register-phonenumber" class="form-control" placeholder="123-456-7890" type="text" ng-model="data.PhoneNumber" ng-pattern="/^[1-9]\d{2}-\d{3}-\d{4}$/" watch-change="check_PhoneNumber()" ng-maxlength="12" maxlength="12" required>
                    </div><!-- /input-group -->
                </div>
                <div class="form-group" ng-hide="PhoneNumber_Valid">
                    <font color="red">Phone number must be in 123-456-7890 format!</font>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                <div class="form-inline">
                                    <select required class="form-control" ng-model="SelectedMonth" ng-options="month.value as month.text for month in Months" ng-change="UpdateNumberOfDays()">
                                        <option class="placeholder" selected disabled value="">Month</option>
                                    </select>
                                    <select required class="form-control" ng-model="SelectedDay" ng-options="day as day for day in Days | limitTo:NumberOfDays">
                                        <option class="placeholder" selected disabled value="">Day</option>
                                    </select>
                                    <select required class="form-control" ng-model="SelectedYear" ng-options="years as years for years in Years | reverse" ng-change="UpdateNumberOfDays()">
                                        <option class="placeholder" selected disabled value="">Year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-male"></i> /  <i class="fa fa-female"></i></span>
                                <select required class="form-control" ng-model="data.Gender" aria-expanded="false">
                                    <option class="placeholder" selected disabled value="">Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-lg" type="submit" ng-click="register()" ng-disabled="form.$invalid || data.isSubmitting">Register</button>
                </div>
            </form>
            <div class="text-center">
                <strong>Already have an account? <a ui-sref="login" title="Log in here">Log in here</a></strong>
            </div>
        </div>
    </div>
</div>